header {
  align-items: center;
  color: #FFF;
  display: flex;
  height: 15vh;
  justify-content: center;
}

h1 {
  width: 90%;
  font-size: 56px;
}

.main {
  display: flex;
  height: 85vh;
  justify-content: center;
}
