tbody tr {
  border-bottom: 2px solid #000;
  height: 100px;
  width: 100%;
}

tbody tr:hover {
  border-left: 15px solid #11F0FC;
  transition: border-width 0.3s linear;
  cursor: pointer 
}

tr:nth-child(even) {
  background: #E1E1E1
}

.profile {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  margin: 0 40px;
}

.complete {
  height: 25px;
}

td {
  text-align: center;
  width: 30%
}
