.feedback-form {
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

textarea {
  border-radius: 25px;
  border-style: inset;
  border-width: 2px;
  height: 150px;
  outline: none;
  padding: 25px;
  margin-top: 10px;
  width: 100%;
}

.disabled {
  background: #414358;
}